[Unit]
Description= Surveillance de GYRO
After=network-online.target

[Service]
ExecStart=/opt/FGYRO/fgyro.sh
User=root
KillMode=process
RemainAfterExit=no
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
